// Primary
$bright-blue: hsl(220, 98%, 61%);
$check-bg-from: hsl(192, 100%, 67%);
$check-bg-to: hsl(280, 87%, 65%);

// Light Theme
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 98%);
$vlg-blue: hsl(236, 33%, 92%);
$lg-blue: hsl(233, 11%, 84%);
$dg-blue1: hsl(236, 9%, 61%);
$vdg-blue: hsl(235, 19%, 35%);

// Dark Theme
$vd-blue: hsl(235, 21%, 11%);
$vdd-blue: hsl(235, 24%, 19%);
$light-blue1: hsl(234, 39%, 85%);
$light-blue2: hsl(236, 33%, 92%);
$dg-blue2: hsl(234, 11%, 52%);
$vdg-blue1: hsl(233, 14%, 35%);
$vdg-blue2: hsl(237, 14%, 26%);
